[Unit]
Description=Run PhotoStream encrypted PostgreSQL backup daily

[Timer]
OnCalendar=*-*-* 03:20:00
RandomizedDelaySec=20min
Persistent=true
Unit=photostream-backup.service

[Install]
WantedBy=timers.target
